.terms-wrapper {
	margin-top: 3rem;
	display: flex;
	gap: 0.75rem;
	align-items: flex-start;

	& strong {
		font-weight: 500;
		color: var(--stroke-highlight);
	}
}

.checkbox-wrapper {
	position: relative;

	& [type="checkbox"] {
		all: unset;
		position: absolute;
		inset: 0;
	}

	.checkbox-img {
		flex: 0 0 1.5rem;
		height: 1.5rem;
		background-image: url("../../assets/icons/checkbox-default.svg");
	}

	&:hover,
	&:focus-within {
		& .checkbox-img {
			background-image: url("../../assets/icons/checkbox-hover.svg");
		}
	}

	&:has(:checked) {
		& .checkbox-img {
			background-image: url("../../assets/icons/checkbox-checked.svg");
		}
	}
}
