* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Brand colors */
	--brand-light: #f67841;
	--brand-mid: #f3541c;
	--brand-dark: #e43a12;

	/* Text colors */
	--text-primary: #292524;
	--text-secondary: #57534e;
	--text-tertiary: #8f8881;
	--text-highlight: #e43a12;

	/* Surface colors */
	--surface-primary: #ffffff;
	--surface-secondary: #fee7d6;
	--surface-disabled: #e7e5e4;

	/* Stroke colors */
	--stroke-default: #d6d3d1;
	--stroke-highlight: #f3541c;

	/* Semantic colors */
	--semantic-error: #dc2626;

	/* Fonts */
	--font-family: "Poppins", sans-serif;
	--text: 400 1rem / 1.5 var(--font-family);
	--text-sm: 400 0.875rem / 1.4 var(--font-family);
	--heading1: 700 32px / 1.2 var(--font-family);
	--heading2: 700 24px / 1.2 var(--font-family);
	--heading3: 700 20px / 1.2 var(--font-family);
	--heading4: 700 16px / 1.2 var(--font-family);
}

body {
	overflow: hidden;
}
