.app {
	display: grid;
	/* 656px 624px */
	/* (656*100)/1280 (624*100)/1280 */
	grid-template-columns: 51.25% 48.75%;
	height: 100vh;
	overflow: hidden;
}

main {
	overflow: auto;
	padding: 4rem; /* 64px */

	/* IMPORTANT! */
	/* Some browsers do not support CSS nesting */
	/* Check propierts on the site caniuse.com */
	& .main-container {
		max-width: 33rem;
		margin-left: auto;
	}

	& .back {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 1.5rem;
	}

	& h1 {
		font: 600 1.5rem / 1.25 var(--font-family);
		margin-bottom: 0.5rem;
	}
}

aside {
	background-color: var(--surface-secondary);
	padding: 4rem;

	& .aside-container {
		max-width: 31rem;

		& > img {
			margin-top: 2rem;
		}
	}

	& h2 {
		font: 600 2.5rem / 1.25 var(--font-family);
		margin-bottom: 0.5rem;

		& span {
			color: var(--text-highlight);
		}
	}
}
